@font-face {
  font-family: Ormolu;
  src: url("/assets/fonts/OrmoluPersonalUse-BLAdV.ttf")
}

@import "tailwindcss";

body {
  background-image: url("/assets/images/background.png");
  background-repeat: repeat;
  background-size: auto;
}

* {
  font-family: Ormolu, 'sans-serif';
  font-size: 22px;
  color: #170A02;
  letter-spacing: 4%;
}

button {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 8px;
}

h1 {
  font-size: 52px;
  line-height: 52px;
}

h2 {
  font-size: 48px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 32px;
}

.text-secondary {
  color: #453B35;
}

.text-inverse {
  color: #efe1d8;
}

.text-inverse-secondary {
  color: #C4B6AD;
}

.large {
  font-size: 32px;
  line-height: 120%;
}

.small {
  font-size: 18px;
  line-height: 120%;
}

@media (max-width: 800px) {
  .mobile-header {
    display: inline;
  }

  .desktop-header {
    display: none;
  }
}

@media (min-width: 800px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: inline;
  }
}

.nav-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: #351905;
  color: #efe1d8;
  height: fit-content
}

.nav-button:hover {
  background-color: #2A1404;
}

.nav-button:active {
  background-color: #3D1D06;
}

.nav-button>img {
  height: 22px;
}

.game-button {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #efe1d8;
  color: #170A02;
}

.reset-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EA9A9A;
  width: 48px;
  height: 48px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transform: translate(20px, 20px);
}

.reset-button>img {
  height: 32px;
}

.game-button:hover {
  background-color: #ECDBD0;
}

.game-button:active {
  background-color: #F2E6DE;
}

.game-button>img {
  height: 32px;
}

.board {
  background-color: #0B211C;
  border: 5px solid #a57d4d;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .board {
    display: none;
  }

  .glass-board {
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
}

@media (min-width: 600px) {
  .board {
    display: block;
  }

  .glass-board {
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .board-container {
    align-items: end;
  }
}

@media (max-width: 970px) {
  .msg-abelforth>img {
    height: 50px;
  }

  .principal-content {
    flex-direction: column;
  }
}

@media (min-width: 970px) {
  .msg-abelforth {
    flex-direction: column;
    align-items: start;
  }

  .msg-abelforth>img {
    height: 100px;
  }

  .principal-content {
    flex-direction: row;
  }
}

@media (max-width: 400px) {
  .msg-abelforth {
    flex-direction: column;
    align-items: start;
  }
}

@media (min-width: 400px) and (max-width: 970) {
  .msg-abelforth {
    flex-direction: row;
    align-items: center;
  }
}

.bar-container,
.glass-container {
  border: 3px solid #331706;
  border-radius: 8px;
  overflow: hidden;
}

.glass-container {
  min-height: fit-content;
}

.bar,
.principal-content {
  background-color: #331706;
  border: 5px solid #a96236;
}

.bar {
  overflow-x: scroll;
  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge legacy */
  -ms-overflow-style: none;
}

.ingredient {
  background-color: #170A02;
  border-radius: 8px;
  width: 130px;
  height: 160px;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
}

.scroll-left,
.scroll-right {
  position: absolute;
  height: calc(100% - 10px);
  width: auto;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  top: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 400px) {
  .scroll-left,
  .scroll-right {
    display: none;
  }
}

@media (min-width: 400px) {
  .scroll-left,
  .scroll-right {
    display: flex;
  }
}

@media (max-width: 600px) {

  .scroll-left>img,
  .scroll-right>img {
    width: 50px;
  }
}

.scroll-left {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0) 100%);
  left: 0;
  margin-left: 5px;
  align-items: start;
}

.scroll-left:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
}

.scroll-right {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.6) 100%);
  right: 0;
  margin-right: 5px;
  align-items: end;
}

.scroll-right:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.8) 100%);
}

.selected {
  background-color: rgb(65, 190, 92);
  border-radius: 50px;
  transform: translate(8px, -8px);
}

.round-mask-1 {
  -webkit-mask-image: url('./assets/images/round-mask-1.png');
  mask-image: url('./assets/images/round-mask-1.png');
  mask-repeat: no-repeat;
  mask-position: center;
}

.round-mask-2 {
  -webkit-mask-image: url('./assets/images/round-mask-2.png');
  mask-image: url('./assets/images/round-mask-2.png');
  mask-repeat: no-repeat;
  mask-position: center;
}

.speech-bubble {
  background-color: #efe1d8;
  border-radius: 8px;
  padding: 8px 20px;
  height: fit-content;
  max-width: 800px;
}

.member-found {
  background-image: url("/assets/images/swirl.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-position: center;
}

.bravo {
  font-size: 64px;
}

.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

.info-modal {
  width: 90%;
}

.flex-info {
  overflow-y: scroll;
  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge legacy */
  -ms-overflow-style: none;
}

.portraits-modal,
.info-modal {
  max-width: 1440px;
  background-color: #0a0401;
  height: 90%;
  border-radius: 8px;
}

.grid-portraits {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  overflow-y: scroll;
  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge legacy */
  -ms-overflow-style: none;
}

/* Chrome, Safari, Edge (Chromium) */
.grid-portraits::-webkit-scrollbar {
  display: none;
}

@media (max-width: 480px) {
  .grid-portraits {
    grid-template-columns: repeat(1, 1fr);
  }

  .portraits-modal {
    width: 90%;
  }
}

@media (min-width: 480px) and (max-width: 720px) {
  .grid-portraits {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 720px) and (max-width: 960px) {
  .grid-portraits {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  .grid-portraits {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-portraits {
    grid-template-columns: repeat(5, 1fr);
  }
}